*.o
*.x
*.mod
*.pyc
.DS_STORE
denif.dat
dennf.dat
glatf.dat
glonf.dat
t1f.dat
t2f.dat
t3f.dat
tef.dat
tif.dat
time.dat
u1f.dat
u2f.dat
u3f.dat
u4f.dat
u5f.dat
vexbf.dat
vnf.dat
vrf.dat
vsif.dat
vtf.dat
zaltf.dat
